<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Notes

    <a data-toggle="collapse" href="#input_notes_new_form">
      Add note
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @input.notes.each do |note| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/notes/<%= note.id %>">
          <%= note.notes %>
        </a>

        <a href="/delete_note_from_inputs/<%= note.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="input_notes_new_form">
        <%= render partial: "input_templates/input_notes_new_form" %>
      </div>
    </div>

  </ul>
</div>
