<form action="/create_note_from_input" method="post">

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @note.notes %>">
  </div>

  <input type="hidden" name="inputs_id" value="<%= @input.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create note
  </button>
</form>
