<h1>
  Add a new note
</h1>


<hr>

<!-- Form note start -->
<form action="/create_note" method="post">
<!-- Form note end -->

  <!-- Label and input for notes start -->
  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <!-- Input for notes start -->
    <input type="text" id="notes" name="notes" class="form-control">
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <!-- Label and input for inputs_id start -->
  <div class="form-group">
    <label for="inputs_id">
      Inputs
    </label>

    <!-- Input for inputs_id start -->
    <%= select_tag(:inputs_id, options_from_collection_for_select(Input.all, :id, :operating_income, @note.inputs_id), :class => "form-control") %>
    <!-- Input for inputs_id end -->
  </div>
  <!-- Label and input for inputs_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create note
  </button>
</form>

<hr>

<a href="/notes">
  Go back
</a>
